/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*UNIVERSAL CSS*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/*HEADER CSS BELOW HERE*/
/*HEADER CSS BELOW HERE*/
/*HEADER CSS BELOW HERE*/
/*HEADER CSS BELOW HERE*/

header{
    width: 800px;
    margin: 3vh auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
    margin-right: 8vh;
}

nav .logo{
    display: flex;
    align-items: top;
    margin-bottom: 3vh;
}

nav a{
    text-decoration: none;
    color: black;
}


/*HEADER CSS ABOVE HERE*/
/*HEADER CSS ABOVE HERE*/
/*HEADER CSS ABOVE HERE*/
/*HEADER CSS ABOVE HERE*/

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}

/*INSERT BOX COLORS BELOW HERE*/
/*INSERT BOX COLORS BELOW HERE*/

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /*I changed .box in html to .boxNumber but removing .box from css transforms the box shape entirely, and I'm not sure why...but I'm leaving it here since it works lol*/
}

.box1{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
}

.box2{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
}

.box3{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.box4{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
}
.box5{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
}
.box6{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: forestgreen;
}
.box7{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkorchid;
}
.box8{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hotpink;
}
.box9{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: indigo;
}
.box10{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}


/*INSERT BOX COLORS ABOVE HERE*/
/*INSERT BOX COLORS ABOVE HERE*/


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*ABOUT PAGE CSS HERE*/

.top-about {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.about-words{
    padding: 0 1%;
    padding-bottom: 20px;
}

/*ABOUT MIDDLE CONTENT*/
/*ABOUT MIDDLE CONTENT*/
/*ABOUT MIDDLE CONTENT*/
/*ABOUT MIDDLE CONTENT*/

.middle-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 8%;
    padding: 0 1%;
}

.bubbles{
    width: 48%;
    justify-content: flex-start;
    margin: 0 1%;
    margin-bottom: 25px;
    border-bottom: 1px dashed black;
}

.bubbles img{
    padding-bottom: 3%;
}

.bubbles .learnmore{
    border: 3px solid black;
    margin: 3% 0;
    padding: 1%;
    border-radius: 10%;
    width: 30%;
}

.bubbles a{
    text-decoration: none;
    color: black;
    border-radius: 10%;
    width: 100%;
}

/*ABOUT BOTTOM CONTENT*/

.bottom-about {
    display:flex;
    flex-direction: column;
    padding: 0 9.5%;
    margin-bottom: 20px;
}

.bottom-words{
    padding: 0 1%;
}